/Admin.class
/AdminController.class
/AdminDAO.class
/AdminDaoDemo.class
/AdminDaoImpl.class
/AdminLoginFX.class
/Controller.class
/DaoPatternDemo.class
/Elettore.class
/ElettoreDao.class
/ElettoreDaoImpl.class
/Elezione.class
/Gestore.class
/LoginFX.class
/Main.class
/Scrutatore.class
/Utente.class
/AdminDashboardController.class
/AdminDashboardFX.class
/CurrentAdminSingleton.class
/ListManagementController.class
/ListManagementFX.class
/CurrentElettoreSingleton.class
/ElettoreController.class
/Candidato.class
/CandidatoDao.class
/CandidatoDaoImpl.class
/ConnectionSingleton.class
/CurrentListSingleton.class
/DaoFactorySingleton.class
/Lista.class
/ListaDao.class
/ListaDaoImpl.class
/ManageCandidatesController.class
/ElettoreDashboardController.class
